<div id="loading" class="hidden">🕐 Chargement en cours...</div>

<section>
  <h1>Welcome to Colorum</h1>
  <p>Paste anything.</p>

  <div id="imagePreview"></div>

  <textarea
    name="userInput"
    id="userInput"
    placeholder="Paste content here"
  ></textarea>

  <p id="guess">
    <span class="unknown">unknown</span>
    <span class="json">Json</span>
    <span class="csv">CSV</span>
    <span class="hexColors">hex</span>
    <span class="hslColors">HSL</span>
    <span class="figma">Figma</span>
    <span class="image">Image</span>
  </p>

  <div id="analysis"></div>
</section>
